html, body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.welcome{
    width: 60vw;
    height: 25vh;
    /* border:1px black solid; */
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-left:20vw;
    margin-right:20vw;
    align-items: center;
    padding-bottom: 3vh;
    

}
h1{
font-size: 3vw ;
font-family: 'Roboto Slab', serif;
}

.statsContainer{
    height:15vh;
    /* border: 1px black solid; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.stat{
    /* border: 1px green solid; */
    text-align: center;
    display:flex;
    width: 20vw;
    height: 100%;
    flex-direction: column;
    
    
}
h2{
    color:rgb(19, 115, 211);
    font-size: 2.5vw;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
}
p{
    color:rgb(74, 74, 74);
    font-size: 1vw;
    font-family: 'Roboto Slab', serif;
}

.reviewsContainer{
    display:flex;
    height:56vh;
    /* border:1px solid red; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.reviewBox{
    display:flex;
    flex-direction: column;
    position: relative;
    
    
}
#box1{
    /* border:1px solid blue; */
    width:300px;
    height:300px;
    align-self: flex-start;
    
}
#box2{
    /* border:1px solid blue; */
    width:300px;
    height:300px;
}
#box3{
    /* border:1px solid blue; */
    width:300px;
    height:300px;
    align-self: baseline;
    margin-top:3vh;
}
.topBox{
    height: 60%;
    width:100%;
    /* border: 1px solid black; */
}
.bottomBox{
    height:40%;
    width:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

}
img{
    z-index: 9999;
    position: absolute;
    left:41%;
    bottom:32%;
    width:50px;
    height:50px;
    border-radius: 50%;
}
#bottom1{
    background-color: salmon;
}
#bottom2{
background-color: rgb(19, 115, 211);
}
#bottom3{
    background-color: rgb(7, 205, 169);
}
@media only screen and (max-width: 900px){
    .reviewsContainer{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height:100%;
    }
    #box1{
        align-self: center;
        width:500px;
        height:320px;
        margin-top:3vh;
    }
    #box2{
        align-self: center;
        width:500px;
        height:320px;
        margin-top:3vh;
    }
    #box3{
        align-self: center;
        width:500px;
        height:320px;
    }
    .lorem{
        font-size: 100%;
    }
      
}
@media only screen and (max-width: 750px){
    .welcome{
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        
    }
    h1{
        font-size: 4.5vw;
    }
    h2{
        font-size: 4vw;
    }
    .statInfo{
        font-size: 2vw;
    }
    
}   
@media only screen and (max-width:500px){
    #box1{
        width:100vw;
        
    }
    #box2{
        width:100vw;
        
    }
    #box3{
        width:100vw;
        
    }
    h1{
        font-size: 110%;
    }
    .stat{
        width:30vw;

    }
    p.statInfo{
        font-size: 4vw;
        
    }
    h2{
        font-size: 5vw;

    }
}
    